<h1>Salesorder Info</h1>

<%= render partial: "salesorder", locals: {salesorder: @salesorder} %>

<% if logged_in? %>
  <p>
    <%= link_to "New Salesorder", new_customer_salesorder_path(@salesorder.customer) %> |
    <%= link_to "Edit Salesorder", edit_customer_salesorder_path(@salesorder) %> |
    <%= link_to "Delete Salesorder", customer_salesorder_path(@salesorder), method: :delete %> |
  </p>
<% end %>
