<h1>Salesman Info</h1>

<%= render partial: "salesman", locals: {salesman: @salesman} %>

<% if logged_in? %>
  <p>
    <%= link_to "New Customer", new_salesman_path(@salesman) %> |
    <%= link_to "New Salesorder", new_salesorder_path %>
  </p>
<% end %>
