<ul>


  <li>
    Product Name: <%= prodcut.name %>
  </li>
  <li>
    Description: <%= prodcut.description %>
  </li>
  <li>
    Price: <%= product.price %>
  </li>
  <li>
    Inventory: <%= product.inventory %>
  </li>





</ul>
