
  <ul><h4><%= link_to product.name, product_url(product) %></h4></ul>
  <ul>Description: <%= product.description %></ul>
  <ul>
    Price: <%= product.price %>
  </ul>
  <ul>
    Inventory: <%= product.inventory %>
  </ul>
