<h3>Product Lists</h3>
<%= @products.each do |product| %>
  <li><%=product.id %>.
    <ol><%= render partial: "product", locals: { product:  product } %></ol>
  </li>
<%end%>
<% if logged_in? %>
  <p><%= link_to "Add Product", new_product_path %> |
<% end %>
