<h3>Product Lists</h3>
<% @products.each do |product| %>

  <ol>  <%= render partial: "product", locals: { product:  product } %></ol>

<% end %>
<% if logged_in? %>
  <p><%= link_to "Add Product", new_product_path %></p> <br />
<%end%>
