
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sale Director</title>
  </head>


<%= yield%>

<a href = "/">Home</a>
<% if !logged_in? %>
  <a href = '/salesmen/new'>Sign Up</a>
<%end%>
<% if !logged_in? %>
  <a href = '/signin'>Log In</a>
<%end%>
<% if logged_in? %>
  <a href = '/signout'>Log Out</a>
<%end%>
</html>
