
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sale Director</title>
  </head>


<%= yield%>

<a href = "/">Home</a>
<% if !logged_in? %>
  <a href = '<%= new_salesman_path %>'>Sign Up</a>
<%end%>
<% if !logged_in? %>
  <a href = '<%= signin_path %>'>Sign In</a>
<%end%>
<% if logged_in? %>
  <a href="<%= signout_path %>" data-method="delete" />Sign Out</a>
<%end%>
</html>
